.background-img {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(85, 84, 84, 0.493), rgba(85, 84, 84, 0.493)), url('https://assets.kpmg/is/image/kpmg/pink-web-of-lines-blue-background:cq5dam.web.1400.350');
    ;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.nav-btn:hover {
    color: red;
}

.status-box {
    text-align: center;
    /* border: 2px solid black; */
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.status-active {
    /* background-color: black; */
    color: purple;
}

.status-recovered {
    /* background-color: rgb(1, 65, 15); */
    color: green;
}

.status-death {
    /* background-color: red; */
    color: red;
}

.table-container {
    height: 200px !important;
    display: block;
}